node_modules
.env
.expo
.DS_Store
__MACOSX/
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
npm-debug.log*
yarn-debug.log*
yarn-error.log*
apps/mobile/.expo
apps/mobile/dist
apps/mobile/attached_assets
apps/mobile/android
apps/mobile/ios
apps/api/uploads
