PORT=4000
MONGO_URI=mongodb://localhost:27017/fitpulse
JWT_SECRET=change_this_secret
CLIENT_URL=http://localhost:8081
STRIPE_SECRET_KEY=sk_test_123
RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=exercisedb.p.rapidapi.com
EXERCISEDB_BASE_URL=https://exercisedb.dev
YMOVE_API_KEY=ym_84f9e01a58c6125cec3c7e1d809db18de5ebf7ef7358f73e924757ca912e5fb9
